In [5]:
import pandas as pd
import numpy as np

jeopardy_path = "JEOPARDY_CSV.csv"
jeopardy_df = pd.read_csv(jeopardy_path)

print(type(jeopardy_df))

<class 'pandas.core.frame.DataFrame'>

In [ ]:
#Each row represents a question asked on one instance of a show.

In [4]:
jeopardy_df.shape

(216930, 7)

In [ ]:
#In terms of being "dirty," the data has a few null values that should be replaced with "0", the air date column
#isn't in ISO format (hard to sort), and the column names have extra spaces in them, which introduces errors into code
#where we expect there not to be spaces.

In [7]:
np.where(pd.isnull(jeopardy_df))

(array([ 94817, 143297]), array([6, 6]))

In [8]:
jeopardy_df.fillna(0)

,Show Number,Air Date,Round,Category,Value,Question,Answer
0,4680,12/31/2004,Jeopardy!,HISTORY,$200,"For the last 8 years of his life, Galileo was ...",Copernicus
1,4680,12/31/2004,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,No. 2: 1912 Olympian; football star at Carlisl...,Jim Thorpe
2,4680,12/31/2004,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$200,The city of Yuma in this state has a record av...,Arizona
3,4680,12/31/2004,Jeopardy!,THE COMPANY LINE,$200,"In 1963, live on ""The Art Linkletter Show"", th...",McDonald's
4,4680,12/31/2004,Jeopardy!,EPITAPHS & TRIBUTES,$200,"Signer of the Dec. of Indep., framer of the Co...",John Adams
...,...,...,...,...,...,...,...
216925,4999,5/11/2006,Double Jeopardy!,RIDDLE ME THIS,"$2,000",This Puccini opera turns on the solution to 3 ...,Turandot
216926,4999,5/11/2006,Double Jeopardy!,"""T"" BIRDS","$2,000",In North America this term is properly applied...,a titmouse
216927,4999,5/11/2006,Double Jeopardy!,AUTHORS IN THEIR YOUTH,"$2,000","In Penny Lane, where this ""Hellraiser"" grew up...",Clive Barker
216928,4999,5/11/2006,Double Jeopardy!,QUOTATIONS,"$2,000","From Ft. Sill, Okla. he made the plea, Arizona...",Geronimo
216929,4999,5/11/2006,Final Jeopardy!,HISTORIC NAMES,None,A silent movie title includes the last name of...,Grigori Alexandrovich Potemkin

In [10]:
jeopardy_df[' Air Date']=pd.to_datetime(jeopardy_df[' Air Date'])

In [16]:
jeopardy_df.rename(columns = {' Air Date' : 'Air Date', ' Round' : 'Round', ' Category':'Category'}, inplace = True)

In [17]:
print(jeopardy_df.head())

   Show Number   Air Date      Round                         Category  Value  \
0         4680 2004-12-31  Jeopardy!                          HISTORY  $200
1         4680 2004-12-31  Jeopardy!  ESPN's TOP 10 ALL-TIME ATHLETES  $200
2         4680 2004-12-31  Jeopardy!      EVERYBODY TALKS ABOUT IT...  $200
3         4680 2004-12-31  Jeopardy!                 THE COMPANY LINE  $200
4         4680 2004-12-31  Jeopardy!              EPITAPHS & TRIBUTES  $200

                                            Question      Answer
0  For the last 8 years of his life, Galileo was ...  Copernicus
1  No. 2: 1912 Olympian; football star at Carlisl...  Jim Thorpe
2  The city of Yuma in this state has a record av...     Arizona
3  In 1963, live on "The Art Linkletter Show", th...  McDonald's
4  Signer of the Dec. of Indep., framer of the Co...  John Adams

In [12]:
unique_shows  = jeopardy_df[["Show Number"]].nunique()
unique_shows

Show Number    3640
dtype: int64

In [26]:
#How many times was each category used in a year?
jeopardy_df['year'] = pd.DatetimeIndex(jeopardy_df['Air Date']).year

initial_subset = jeopardy_df[["Category", "Year"]]
subset_sn_ad = initial_subset.set_index("Year")
per_yr_subset = subset_sn_ad.groupby(["year"]).count()
print(subset_sn_ad.head())

KeyError: "['Year'] not in index"

In [ ]:
.set_index(["Show Number", "Air Date"]).sort_index()

jeopardy_data_df['year'] = pd.DatetimeIndex(jeopardy_data_df[' Air Date']).year
date_show = jeopardy_data_df.drop_duplicates(subset=["Show Number"])
date_show_ind_filtered = date_show.set_index(["year", "Show Number"]).sort_index()
#date_show_ind_filtered
date_show_final = date_show_ind_filtered.groupby(["year"]).count()
date_show_final2 = pd.DataFrame(date_show_final[" Air Date"])
date_show_final2